name: Check

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 19
          distribution: 'zulu'

      - name: Verify project consistency
        run: cd .test && ./gradlew test

      - name: spotless check (test project)
        run: cd .test && ./gradlew spotlessCheck

      - name: spotless check (root project)
        run: ./gradlew spotlessCheck

      - name: Generate tests for every solution
        run: cd .test && ./gradlew generateTests

      - name: Navigate to root project
        run: cd .test

      - name: Run generated solution tests
        run: ./gradlew test --tests "generated.com.igorwojda.*"

      - uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: ./**/build/reports/tests/
